# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
*.docx
Pacman/Pacman.vcxproj.filters
*.vcxproj
Pacman/Debug/vc140.pdb
*.idb
Pacman/Debug/Pacman.tlog/link.write.1.tlog
*.tlog
Pacman/Debug/Pacman.log
*.obj
Pacman.VC.VC.opendb
*.sln
Debug/Pacman.pdb
*.ilk
Pacman.VC.db
Debug/Pacman.exe
*.dll
SFML/include/SFML/Audio/AlResource.hpp
*.hpp
*.inl
SFML/lib/flac.lib
*.lib
SFML/lib/sfml-audio-d.pdb
*.pdb
*.log
*.tmp
Debug/sansation.ttf
